@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.home {
    border-top: 1px solid $color-outline-plum;
    border-bottom: 1px solid $color-outline-plum;
    &__container {
        max-width: 65rem;
        width: 92%;
        margin: 0 auto; 
    }
    &__title {
        font-weight: 600;
        font-weight: 600;
        font-size: 1.25rem;
        margin: 1rem 0;
        @include tablet {
            font-size: 2rem;
            margin: 2rem 0 1rem 2.5rem;
        }
        @include desktop {
            margin: 2rem 0 1rem 0;
        }
    }
    &__wrapper {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }
        @include desktop {
            width: 100%;
        } 
    }
    &__text-wrapper {
        @include desktop {
            width: 60%;
        }
    }
    &__text {
       padding: 1rem 0;
       @include desktop {
           font-size: 1.2rem;
       }
    }
    &__count-wrapper {
        background-color: $color-background-alt;
        width: 12rem;
        padding: 1rem;
        border: 1px solid $color-outline-plum;
        border-radius: 4px;
        margin: 1rem 0;
    }
    &__tag {
        padding: 0.5rem 0;
    }
    &__logo {
        display: none;
        @include tablet {
            display: inline;
            margin: 1rem 0 4rem;
            object-fit: cover;
            height:fit-content;
            margin: 3rem 0;
        }
    }
}