$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$color-background-alt: rgb(217, 240, 240);
$color-background-highlight: rgb(245, 243, 243);

$color-font-main: black;
$color-font-alt: white;
$color-red-highlight: rgb(206, 11, 11);
$color-blue-hightlight: rgb(132, 166, 228);