$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$color-background-alt: #efece8;
$color-background-highlight: #9c949c;

$color-font-main: #180b0a;
$color-font-alt: white;
$color-red-highlight: #d72a2c;
$color-brown-hightlight: #c0692f;
$color-highlight-yellow: #f9f771;
$color-outline-plum: #98505c;
$color-btn-ochre: #a13f3a;