@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.footer {
    background-color: $color-background-alt;
    &__container {
        max-width: 62rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tablet {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 80%;
        }
    }
    &__wrapper {
        
        @include tablet {
            margin: 1rem 0;
        }
    }
    &__title {
    font-weight: 600;
    text-transform: uppercase;
    margin: .5rem 0;
    }
    &__text {
       padding: .25rem 0;
    }
    &__link {
        text-decoration: none;
        color: $color-font-main;
        margin: .25rem 0;
    }
    &__logo {
        width: 10rem;
    }
}