@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.participants {
    &__container {
        max-width: 65rem;
        width: 92%;
        margin: 0 auto; 
    }
    &__title {
        font-weight: 600;
        font-weight: 600;
        font-size: 1.25rem;
        margin: 1rem 0;
        @include tablet {
            font-size: 2rem;
            margin: 2rem 0 1rem 2.5rem;
        }
        @include desktop {
            margin: 2rem 0 1rem 0;
        }
    }
    &__csv {
        padding: .5rem;
        border-radius: 4px;
        border: 1px solid $color-outline-plum;
        background-color: $color-btn-ochre;
        color: $color-font-alt;
        letter-spacing: .75px;
        text-decoration: none;
        width: 100%;
    }
    &__list {
        margin: 1.5rem 0
    }
    &__item {
        border-bottom: 1px solid $color-outline-plum;
    }
}