@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.header {
    background-color: $color-background-alt;
    @include tablet {
        padding: 2rem;
    }
    &__container {
        max-width: 65rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tablet {
            flex-direction: row;
        }
        @include desktop {
            
        }
    }
    &__link {
        text-decoration: none;
        @include tablet {
            display: none;
        }
    }
    &__logo {
        width: 7rem;
        margin: 1rem;
        @include tablet {
            display: none;
        }
    }
    &__nav {
        width: 100%;
        @include tablet {
            justify-content: space-between;
        }
        &-list {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
           flex-direction: row;
           justify-content: space-between; 
           font-size: 1.25rem;
        }
        }
        &-item {
            margin: .5rem;
        }
        &-link {
            text-decoration: none;
            color: $color-font-main;
            font-weight: 600;
        }
    }
}
